---
import { Image } from 'astro:assets';
import type { NetflixSpecial } from '../data/netflix-specials';

interface Props {
  specials: NetflixSpecial[];
}

const { specials } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 pb-6 ">
  {specials.map((special) => (
    <a href={special.url} target="_blank" rel="noopener noreferrer" class="group relative pt-4">
      <Image
        src={special.image}
        alt={`Dave presentando ${special.title}`}
        width={300}
        height={418}
        format="webp"
        loading="lazy"
        class="w-full rounded hover:outline hover:outline-2 hover:outline-link-blue"
      />
      <img
        src="/imagenes/icono_click_black.png"
        alt=""
        class="absolute bottom-2 right-12 w-5 h-5 group-hover:hidden"
      />
    </a>
  ))}
</div>
