---
// Componente para el layout complejo de GIFs de personajes
// Combina columnas verticales y grupos flex-wrap
---

<div class="flex gap-5 my-8">
  <!-- Columna vertical izquierda -->
  <div class="flex flex-col gap-5">
    <img src="/imagenes/gif/carter.gif" alt="gif de Tron Carter" width="200" height="149" class="w-[200px]" />
    <img src="/imagenes/gif/lil_jon.gif" alt="gif de Lil jon" width="200" height="149" class="w-[200px]" />
    <img src="/imagenes/gif/leonard.gif" alt="gif de Leonard" width="200" height="163" class="w-[200px]" />
  </div>

  <!-- Grupo flex-wrap derecha -->
  <div class="flex flex-wrap gap-4">
    <img src="/imagenes/gif/tyrone.gif" alt="gif de Tayrone" width="470" height="353" class="w-[470px]" />
    <img src="/imagenes/gif/confused.gif" alt="gif escena de confisión" width="200" height="150" class="w-[200px]" />
    <img src="/imagenes/gif/taylor.gif" alt="gif de Taylor" width="200" height="155" class="w-[200px]" />
  </div>
</div>
